body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Smooth scrolling */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding-top: 60px; /* Give space for the fixed header */
}

section {
    padding: 20px;
    margin: 20px 0;
}

.hero {
    background: url('day_of_dead_background.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
}

.services, .about, .contact {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 50px;
    margin: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
